<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hello <%=sayhi%> !</h1>
    <p style="background-color: orange; padding: 10px; border: radius 30px">
      <%=name%>
    </p>

    <% if(sayhi=='berabah'){ %>
    <div>name is berabah</div>
    <% } %>
  </body>
</html>
